{% extends 'base.html'%}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>MultiShop - Online Shop Website Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    
</head>

<body>
   


    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="#">Home</a>
                    <a class="breadcrumb-item text-dark" href="#">Shop</a>
                    <span class="breadcrumb-item active">Shopping Cart</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


    <!-- Cart Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-lg-8 table-responsive mb-5">
                <table class="table table-light table-borderless table-hover text-center mb-0">
                    <thead class="thead-dark">
                        <tr>
                            <th>Products</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                        {% if cart_items %}
                            {% for item in cart_items %}
                        <tr>
                            <td class="align-middle"><img src="{{ item.image }}" alt="" style="width: 50px;"> {{ item.productName }}</td>
                            <td class="align-middle">₹{{ item.price }}</td>
                            <td class="align-middle">
                                <div class="input-group quantity mx-auto" style="width: 100px;">
                                    <div class="input-group-btn">
                                        <!-- <button class="btn btn-sm btn-primary btn-minus" >
                                        <i class="fa fa-minus"></i>
                                        </button> -->
                                    </div>
                                    <input type="text" class="form-control form-control-sm bg-secondary border-0 text-center" value="{{ item.quantity }}" readonly>
                                    <div class="input-group-btn">
                                        <!-- <button class="btn btn-sm btn-primary btn-plus">
                                            <i class="fa fa-plus"></i>
                                        </button> -->
                                    </div>
                                </div>
                            </td>
                            <td class="align-middle">₹{{ item.total }}</td>
                            <td class="align-middle"><button class="btn btn-sm btn-danger"><i class="fa fa-times"></i></button></td>
                        </tr>
                        <tr>
                            <!-- <td class="align-middle"><img src="{{item.image}}" alt="" style="width: 50px;"> {{ item.productName }}</td>
                            <td class="align-middle">₹150</td>
                            <td class="align-middle"> -->
                                <form method="POST" action="{% url 'remove_from_cart' %}" style="display:inline;">
                                    {% csrf_token %}
                                    <input type="hidden" name="product_id" value="{{ item.id }}">
                                    <button type="submit" class="btn btn-sm btn-danger"></button>
                                        <i class="fa fa-minus"></i>
                                    </button>    
                                </form>        
                                    
                            <!-- </td> -->
                            
                        </tr>
                            {% endfor %}
                        {% else %}    
                        <tr>
                            <td colspan="5" class="text-center">your cart is empty.</td>
                        </tr>
                        {% endif %}
                        
                            
                    </tbody>
                </table>
            </div>
            <div class="col-lg-4">
                <form class="mb-30" action="">
                    <div class="input-group">
                        <input type="text" class="form-control border-0 p-4" placeholder="Coupon Code">
                        <div class="input-group-append">
                            <button class="btn btn-primary">Apply Coupon</button>
                        </div>
                    </div>
                </form>
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Cart Summary</span></h5>
                <div class="bg-light p-30 mb-5">
                    <div class="border-bottom pb-2">
                        <div class="d-flex justify-content-between mb-3">
                            <h6>Subtotal</h6>
                            <h6>₹{{ cart_total }}</h6>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Shipping</h6>
                            <h6 class="font-weight-medium">₹10</h6>
                        </div>
                    </div>
                    <div class="pt-2">
                        <div class="d-flex justify-content-between mt-2">
                            <h5>Total</h5>
                            <h5>₹{{ cart_total|add:"10" }}</h5>
                        </div>
                      <!-- <li class="nav-item"> 
                         <a href="#" class="nav-link">  -->
                            <a class="btn btn-seller"href="{% url 'checkout'%}">
                                 <!-- <i class="fas fa-star me-1"></i>proceed To checkout -->
                                <button class="btn btn-block btn-primary font-weight-bold my-3 py-3">Proceed To Checkout</button>
                             <!-- <svg class="nav-icon" viewBox="0 0 24 24"> 
                                <line x1="12" y1="1" x2="12" y2="23"></line>
                                <path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path>
                            </svg> -->
                            </a>
                        </a>    
                        
                  
                        
                    <!-- </li>      -->
                        
                  
                        
                    
                    
                        <!-- <button class="btn btn-block btn-primary font-weight-bold my-3 py-3">Proceed To Checkout</button> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Cart End -->


    

    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


    
</body>

</html>

{% endblock %}